<div class="posts js-posts" data-single-post-url="{{ path('postsGetSingle') }}"  data-mark-single-read-url="{{ path('postsMarkSingleAsRead') }}" data-mark-single-unread-url="{{ path('postsMarkSingleAsUnread') }}">
    {% for post in posts %}
        {% set isRead = '' %}
        {% if post.isRead == true %}
            {% set isRead = ' read' %}
        {% endif %}

        <div class="post js-post{{ isRead }}" data-id="{{ post.id }}" data-feed="{{ post.feed }}" data-folder="{{ post.folder }}" data-post-date="{{ post.postDate | date('U') | slice(0, 5) }}">
            {% if post.postImage is not empty %}
                <div class="post-image" style="background-image: url('{{ post.postImage }}')"></div>
            {% endif %}
            <div class="post-title">{{ post.postTitle }}</div>
            <div class="post-preview">{{ post.postPreview }}</div>
            <div class="post-feed">{{ post.feedName }}</div>
            <div class="post-date">
                {{ post.postDate | localizeddate('long', 'short', app.request.locale) }}
            </div>
        </div>
    {% endfor %}
</div>