<div class="sidebar js-sidebar">
    <div class="section logo">
        <img src="{{ asset('resources/img/logo.svg') }}">
    </div>
    <div class="section toolbar">
        <a href="#" onclick="openPopup('{{ path('feedsAddFeedForm') }}', 'add-feed')" title="{% trans %}add_new_feed{% endtrans %}"><span class="glyphicon glyphicon-plus"></span></a>
        <a href="#" onclick="openPopup('{{ path('foldersAddFolderForm') }}', 'add-folder')" title="{% trans %}add_folder{% endtrans %}"><span class="glyphicon glyphicon-folder-open"></span></a>
        <a href="#" title="{% trans %}refresh{% endtrans %}"><span class="glyphicon glyphicon-refresh"></span></a>
        <a href="#" title="{% trans %}mark_all_as_read{% endtrans %}"><span class="glyphicon glyphicon-ok"></span></a>
    </div>
    <div class="section">
        <a href="#" class="full-link"><span class="glyphicon glyphicon-list-alt"></span>{% trans %}all_unread{% endtrans %}</a>
        <a href="#" class="full-link active"><span class="glyphicon glyphicon-calendar"></span>{% trans %}today{% endtrans %}</a>
        <a href="#" class="full-link"><span class="glyphicon glyphicon-list"></span>{% trans %}all_feeds{% endtrans %}</a>
    </div>
    <div class="section">
        {% for folder in folders %}
            <a href="#" class="full-link" data-id="{{ folder.id }}"><span class="glyphicon glyphicon-folder-close"></span>{{ folder.name }}</a>
        {% endfor %}
    </div>
</div>